#main{
    background-color: rgb(222, 236, 232);
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
#title{
    font-family: 'Do Hyeon', sans-serif;
}
#image{
    width: 60%;
    height: 60%;
    margin: 0% 20% 0% 20%;
}
#img-div{
    background-color: antiquewhite;
    width: 95%;
    margin: 0% 2em 0% 2em;
}
ul{
    display: inline-block;
    margin: 10px;
    text-align: justify;
}
#tribute-link{
    font-weight: bold;
}
#tribute-info{
    width: 50%;
    margin: 0% 25% 0% 25%;
}
   